<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>nfc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8CA2B32C1EE9517F009D6F65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CA2B3401EE9517F009D6F65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CA2B34B1EE9517F009D6F65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
